@import "tailwindcss";

@layer components {
	
	.dashboard {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		padding: 16px;
		margin: 0;

	}

	.dashboard-grid {
		display: grid;
		grid-template-columns: 1fr;
		align-items: start;
		justify-content: center;
		gap: 16px;
		width: 100%;
	}

	@media (min-width: 768px) {
		.dashboard-grid {
			grid-template-columns: 1fr 1fr;
			gap: 16px;
		}
		.greeting-col {
			grid-column: 1 / span 2;
		}
		.calendar-col {
			grid-column: 3 / span 1;
		}
		.stats-col {
			grid-column: 1 / span 2;
		}
		.messages-col {
			grid-column: 1 / span 1;
		}
		.players-col {
			grid-column: 2 / span 1;
		}
		.notices-col {
			grid-column: 1 / span 2;
		}
		
	}

	@media (min-width: 1024px) {
		.dashboard-grid {
			grid-template-columns: repeat(4, 1fr);
			gap: 24px;
		}
		.greeting-col {
			grid-column: 1 / span 2;
		}
		.calendar-col {
			grid-column: 3 / span 2;
		}
		.stats-col {
			grid-column: 1 / span 4;
		}
		.messages-col {
			grid-column: 1 / span 2;
		}
		.players-col {
			grid-column: 3 / span 2;
		}
		.notices-col {
			grid-column: 1 / span 4;
		}
	}
}
