@import "tailwindcss";

/***** Section: Typography Scale *****/

/* Font Family */
:root {
	--font-sans: "Inter", sans-serif;
	--font-serif: "Georgia", serif;
	--font-mono: "Courier New", monospace;

	/* Font Sizes */

	/* Display Sizes */
	--display-size-lg: 80px;
	--display-size-md: 72px;
	--display-size-sm: 60px;

	/* Headline Sizes */
	--headline-size-lg: 36px;
	--headline-size-md: 32px;
	--headline-size-sm: 30px;

	/* Title Sizes */
	--title-size-lg: 28px;
	--title-size-default: 24px;

	/* Subtitle Sizes */
	--subtitle-size-default: 18px;

	/* Body Sizes */
	--body-size-lg: 16px;
	--body-size-default: 14px;
	--body-size-sm: 12px;

	/* Caption Sizes */
	--caption-size-default: 12px;

	/* Overline Sizes */
	--overline-size-default: 12px;
	--overline-size-sm: 10px;

        /* Small Print Sizes */
	--small-print-size-default: 12px;


	/* Button Font Sizes */
	--button-size-default: 16px;
	--button-size-sm: 14px;

	/* Font Weights */
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;

	/* Line Heights */
	--line-height-tight: 1.25;
	--line-height-snug: 1.375;
	--line-height-normal: 1.5;
	--line-height-relaxed: 1.625;
	--line-height-loose: 2;

	/* Letter Spacing */
	--letter-spacing-tight: -0.05em;
	--letter-spacing-normal: 0;
	--letter-spacing-wide: 0.05em;
	--letter-spacing-wider: 0.1em;
}

/***** End Section *****/
