@import "tailwindcss";

@layer components {
	.app-header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 72px;
		position: sticky;
		top: 0;
		background: var(--navbar-background);
		border-bottom: 1px solid var(--navbar-border);
		box-shadow: var(--shadow-sm);
		
	}

	.app-breadcrumb-item {
		color: var(--navbar-text);
		font-size: var(--button-size-sm);
		font-weight: var(--font-weight-semibold);
		cursor: pointer;
		
	}
}
