@import "tailwindcss";

@layer components {
	.app-header {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center	;
		width: 100%;
		height: var(--header-height);
		padding: 0 16px;
		gap: 16px;
				
	}

	.app-header__trigger {
		display: flex;
		align-items: center;
		max-width: var(--icon-lg);
		min-width: var(--icon-md);
		width: 100%;
		max-height: var(--icon-lg);
		min-height: var(--icon-md);
		height: 100%;
		transition: background-color 0.3s;
	}

	.app-breadcrumb-item {
		list-style: none;
		padding: 0;
		margin: 0;
		width: auto;
		height: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

}
