@import "tailwindcss";

.radialBarChart-Root {
  display: flex;
  flex-direction: column;
}

.radialBarChart-Header {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.radialBarChart-Header__Heading {
  font-size: var(--heading-size-default);
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
}

.radialBarChart-Header__Subheading {
  font-size: var(--subtitle-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--text-secondary);
}

.radialBarChart-Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.radialBarChart-Container {
  position: relative;
  width: 100%;
  height: 100%;
  
}
.radialBarChart-CenterLabel__Text {
  font-size: var(--heading-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--text-secondary);
  text-anchor: middle;
  dominant-baseline: middle;
}

.radialBarChart-CenterLabel__Value{
  font-size: var(--title-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  text-anchor: middle;
  dominant-baseline: middle;
}

.radialBarChart-CenterLabel__Unit {
  font-size: var(--heading-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
  text-anchor: middle;
  dominant-baseline: middle;
}


