@import "tailwindcss";

@layer components {
	.loginPageRoot {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		background-image: var(--background-canvas-gradient);
		background-size: cover;
		background-position: center;
	}

	.loginPageHeader {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 72px;
		background: var(--background-surface);
		border-bottom: 1px solid var(--border-default);
	}

	.loginPageHeaderContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0 16px;
	}

	.loginPageHeaderContainer_brand {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 4px;
		
	}


	.loginPageHeaderContainer_brand_name {
		font-size: var(--title-size-md);
		font-weight: var(--font-weight-bold);
		color: var(--colour-primary);
	}

	.loginPageHeaderContainer_cta {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 8px;

	}

	.loginPageHeaderContainer_cta_text {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		font-size: var(--button-size-md);
		font-weight: var(--font-weight-light);
		color: var(--text-primary);
	}

	.loginPageHeaderContainer_cta_link {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		font-size: var(--button-size-md);
		font-weight: var(--font-weight-semibold);
		color: var(--colour-accent);
	}

	.loginPageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-grow: 1;
		padding: 16px;
		overflow: auto;

	}

	.loginPageContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--background-surface);
		border: 1px solid var(--border-default);
		border-radius: var(--radius-xl);
		padding: 32px;
		gap: 24px;
		width: 100%;
		max-width: 420px;
	}

	.loginPageContent_header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		width: 100%;
	}

	.loginPageContent_header_title {
		font-size: var(--title-size-lg);
		font-weight: var(--font-weight-semibold);
		color: var(--text-primary);
		text-align: center;
	}

	.loginPageContent_header_subtitle {
		font-size: var(--button-size-md);
		font-weight: var(--font-weight-normal);
		color: var(--text-secondary);
		text-align: center;
	}

	.accentLine_loginPageForm {
		width: 100%;
		height: 4px;
		background-color: var(--colour-accent);
		border-radius: var(--radius-full);
		margin-top: 4px;
	}

	.loginPageForm_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		width: 100%;
	}

	.loginPageForm_body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		width: 100%;
	}

	.loginPageForm_submitButton {
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: var(--colour-primary);
		color: var(--text-on-primary);
		border: none;
		border-radius: var(--radius-lg);
		padding: 8px 16px;
		font-size: var(--button-font-size);
		margin-top: 16px;
	}

	.loginPageForm_forgotPassword {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: var(--button-size-sm);
		font-weight: var(--font-weight-semibold);
		text-decoration: underline;
		color: var(--colour-accent);
		margin-top: 8px;
	}

	.loginPageForm_rememberMe {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: var(--button-size-sm);
		color: var(--text-primary);
		font-weight: var(--font-weight-normal);
		margin-top: 8px;
	}

	.loginPageForm_rememberMe_cta {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: var(--button-size-sm);
		color: var(--text-primary);
		font-weight: var(--font-weight-normal);
	}

	.loginPageForm_divider {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 12px;
		width: 100%;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.loginPageForm_divider_line {
		display: flex;
		width: 100%;
		height: 1px;
		background-color: var(--colour-secondary);
		border-radius: var(--radius-full);
	}

	.loginPageForm_googleButton {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		width: 100%;
		background-color: var(--text-tertiary);
		color: var(--text-on-tertiary);
		border: 1px solid var(--border-default);
		border-radius: var(--radius-lg);
		padding: 8px 16px;
		font-size: var(--button-font-size);
	}
	.loginPageForm_googleButton_icon {
		width: var(--icon-size-sm);
		height: var(--icon-size-sm);
	}
}