@import "tailwindcss";

.facilitiesRoot {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: var(--background-canvas-gradient);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.facilitiesHeader {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: var(--shadow-base);
	width: 100%;
	position: sticky;
	top: 0;
	padding: 12px;
	background-color: var(--card-background);
	border-bottom: 1px solid var(--header-border);
}

.facilitiesTitle {
	display: flex;
	flex-direction: column;
	font-size: var(--title-size-lg);
	font-weight: var(--font-weight-bold);
	color: var(--card-foreground);
	letter-spacing: var(--letter-spacing-normal);
}

.facilitiesSubtitle {
	display: flex;
	flex-direction: column;
	margin-top: 4px;
	margin-bottom: 8px;
	color: var(--card-foreground-secondary);
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-normal);
}

.facilitiesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
	padding: 16px;
}

.facilitiesContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
}
