@import "tailwindcss";

@layer components {
	/* Hide entire sidebar on tablet & smaller (<= 768px) */
	@media (max-width: 768px) {
		.app-sidebar {
			display: none !important;
		}
	}

	.app-sidebar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: sticky;
		height: 100vh;
		max-width: var(--sidebar-width-expanded);
		min-width: var(--sidebar-width-collapsed);
		width: 100%;
		
		transition: var(--duration-fast) var(--ease-in);
	}
	.app-sidebar__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.sidebar-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 72px;
		transition: var(--duration-fast) var(--ease-in);
	}

	.sidebar-brand {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		}

	
	.sidebar-brand-icon {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		max-width: var(--icon-size-lg) !important;
		min-width: var(--icon-size-md) !important;
		width: 100%;
		max-height: var(--icon-size-lg);
		min-height: var(--icon-size-md);
		height: 100%;
		transition: var(--duration-fast) var(--ease-in);
	}

	.sidebar-brand-icon-collapsed {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: var(--icon-size-md);
		height: var(--icon-size-md);
		
	}

	.sidebar-brand-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: var(--title-size-sm);
		width: 100%;
		transition: var(--duration-fast) var(--ease-in);
	}

	.sidebar-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		overflow-y: auto;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch; /* momentum scroll on iOS */
	}
}
