@import "tailwindcss";

@layer components {
	/* Hide on tablet & down; show from laptop (>=1024px) */
	.nav-main {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		gap: 0;
		padding-top: 0;
		padding-left: 24px;
		padding-right: 0;
		padding-bottom: 24px;
		width: 100%;
	}
	@media (max-width: 768px) {
		.nav-main {
			display: none !important;
		}
	}

	.nav-main__menu {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
	}
	.nav-main__item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 36px;
		margin-bottom: 12px;
	}

	/* Clickable area (default state) */
	.nav-main__link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 8px;
		width: 100%;
		height: 100%;
	}
	/* Hover */
	.nav-main__link:hover {
		background: var(--interactive-primary-hover);
		color: var(--text-on-primary);
		border: 1px solid;
		border-color: var(--border-subtle);
		border-radius: 8px 0px 0px 8px;
	}
	/* Active */
	.nav-main__link.is-active {
		background: var(--interactive-primary-active);
		color: var(--text-on-primary);
		border: 1px solid;
		border-color: var(--border-subtle);
		border-radius: 8px 0px 0px 8px;
		overflow: hidden;
	}

	.nav-main__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: var(--icon-size-lg);
		height: var(--icon-size-lg);
		flex-shrink: 0;
		margin-right: 0;
		margin-left: 4px;
	}
	.nav-main__label {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		font-size: var(--button-size-lg);
		font-weight: var(--font-weight-bold);		
		width: 100%;
	}

	/* Collapsed */
	.nav-main.is-collapsed {
		overflow: hidden;
		padding-top: 0;
		padding-left: 0;
		width: var(--sidebar-width-collapsed);

	}

	.nav-main.is-collapsed .nav-main__label {
		display: none;
	}
	.nav-main__link.is-collapsed {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: var(--sidebar-width-collapsed);
	}
}
