@import "tailwindcss";

.navSecondaryRoot {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}
.navSecondaryMenu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.navSecondaryItem {
  margin-bottom: 4px;
}

.navSecondaryLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  border-radius: var(--radius-md);
  text-decoration: none;
  color: var(--sidebar-item-text);
  background: var(--sidebar-item-background);
}

.navSecondaryLink:hover {
  background: var(--sidebar-item-background-hover);
  color: var(--sidebar-item-text-hover);
}

.navSecondaryLink.active {
  background: var(--colour-primary-800);
  color: var(--text-on-primary);
  font-weight: var(--font-weight-semibold);
}

.navSecondaryLinkItem {
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.navSecondaryIcon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.navSecondaryLabel {
  font-size: var(--body-size-md);
  font-weight: var(--body-weight-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.navSecondaryIcon.collapsed {
  justify-content: center;
}
.navSecondaryIcon.collapsed .navSecondaryLabel {
  display: none;
}
