@import "tailwindcss";

@layer components {
	.cardstat-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		max-width: 388px;
		width: 100%;
		min-width: 288px;
		border: 1px solid;
		border-radius: var(--radius-lg);
		border-color: var(--border-default);
	}

	.cardstat-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.cardstat-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.cardstat-icon {
		color: var(--colour-accent);
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 40px;
		width: 100%;
	}

	.cardstat-title {
		font-size: var(--caption-size-md);
		font-weight: var(--font-weight-medium);
		color: var(--text-primary);
		line-height: var(--line-height-normal);
	}

	.cardstat-value {
		font-size: var(--title-size-md);
		font-weight: var(--font-weight-semibold);
		color: var(--text-primary);
	}
}

@media screen and (max-width: 425px) {
	.cardstat-container {
		max-width: 300px;
		min-width: 200px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

	}

	.cardstat-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.cardstat-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.cardstat-icon {
		color: var(--colour-accent);
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 28px;
		width: 100%;
	}

	.cardstat-title {
		font-size: var(--caption-size-sm);
		font-weight: var(--font-weight-medium);
		color: var(--text-primary);
		line-height: var(--line-height-normal);
	}

	.cardstat-value {
		font-size: var(--title-size-sm);
		font-weight: var(--font-weight-semibold);
		color: var(--text-primary);
	}
}

@media screen and (max-width: 768px) {
	.cardstat-container {
		max-width: 300px;
		min-width: 200px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

	}

	.cardstat-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.cardstat-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.cardstat-icon {
		color: var(--colour-accent);
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 28px;
		width: 100%;
	}

	.cardstat-title {
		font-size: var(--caption-size-sm);
		font-weight: var(--font-weight-medium);
		color: var(--text-primary);
		line-height: var(--line-height-normal);
	}

	.cardstat-value {
		font-size: var(--title-size-sm);
		font-weight: var(--font-weight-semibold);
		color: var(--text-primary);
	}
}
