/* src/index.css */
@import "../src/styles/global.css";

/* Base Reset & app container */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
    text-rendering: optimizeLegibility; 
  }

  html {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-sans);
    background: var(--background-surface);
    color: var(--text-primary);
}

  .app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: var(--background-surface);

  }
}
