/* src/index.css */
@import "../src/styles/global.css";

/* Base Reset & app container */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    box-sizing: border-box;
    display: block;
    height: 100vh;
    scroll-behavior: smooth;
    view-transition-name: root;
    width: 100vw;
  }

  body {
    box-sizing: border-box;
    display: block;
    font-family: var(--font-sans);
    background: var(--background-surface);
    color: var(--text-primary);
    margin: 0;
    overflow-x: hidden;
    text-align: start;
    text-size-adjust: 100%;
  }

  .app-root {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 878px;
    opacity: 1;
    position: relative;
    text-align: start;
    text-size-adjust: 100%;
    width: 100vw;
    min-width: 320px;
    transition: opacity 0.3s ease-in-out;
  }
}
