@import "tailwindcss";

/* Stats */
.statsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media (min-width: 768px) {
  .statsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cardStats-Container {
  background-color: var(--card-background);
  border-radius: var(--radius-lg);
  border: 1px solid var(--card-border);
  padding: 16px;
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.cardStats-Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.cardStats-icon {
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colour-accent-500);
}

.cardStats-Text__Content {
  display: flex;
  flex-direction: column;
}

.cardStats-Value {
  font-size: var(--title-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--card-foreground);
}

.cardStats-Label {
  font-size: var(--body-size-large);
  color: var(--card-subtle);
}
