@import "tailwindcss";

.membersRoot {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

.membersHeader {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: var(--shadow-base);
	width: 100%;
	min-width: 320px;
	top: 0;
	padding: 8px 16px;
	background-color: var(--card-background);
	border-bottom: 1px solid var(--card-border);
}

.membersTitle {
	display: flex;
	flex-direction: column;
	font-size: var(--title-size-default);
	font-weight: var(--font-weight-bold);
	color: var(--card-foreground);
	letter-spacing: var(--letter-spacing-normal);
}

.membersSubtitle {
	display: flex;
	flex-direction: column;
	margin-top: 4px;
	margin-bottom: 8px;
	color: var(--card-foreground-secondary);
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-normal);
}

.membersContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.membersContent {
	display: flex;
	padding: 16px;
	width: 100%;
}
