@import 'tailwindcss';

@layer components {

    .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    .icon-sm {
        font-size: 28px;
    }

    .icon-md {
        font-size: 32px;
    }

    .icon-lg {
        font-size: 40px;
    }
}