@import "tailwindcss";
@layer components {
	.mode-toggle__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: transparent;
		cursor: pointer;

	}
	.mode-toggle__button:hover {
		background-color: var(--badge-primary-background);
		color: var(--badge-primary-text);
		opacity: 1;
	}
	.mode-toggle__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: var(--icon-size-md);
		max-height: var(--icon-size-md);
		width: 100%;
	}
	.mode-toggle__label {
	}
	.mode-toggle__menu {
	}
	.mode-toggle__menu-icon {
	}
}
